
 
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@MFurkanTurkmen 
MFurkanTurkmen
/
Social_Media_Application
Public
Pin
 Unwatch 1 
Fork 0 Fork your own copy of MFurkanTurkmen/Social_Media_Application
  Star 0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
 main 
Social_Media_Application/src/main/resources/templates/home.html
Go to file

@MFurkanTurkmen
MFurkanTurkmen fixed front-end
Latest commit e762655 last month
 History
 1 contributor
257 lines (205 sloc)  9.74 KB
Raw Blame

 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is social network html5 template available in themeforest......" />
  <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
  <meta name="robots" content="index, follow" />
  <title>Simple Social Media</title>

  <!-- Stylesheets
  ================================================= -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/ionicons.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link href="css/emoji.css" rel="stylesheet">


  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top menu">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index-register.html"><img src="images/logoyenii.png" alt="logo" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-menu">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Pages <span><img src="images/down-arrow.png" alt="" /></span></a>
            <ul class="dropdown-menu page-list">
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="faq.html">FAQ Page</a></li>
              <li><a href="404.html">404 Not Found</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="contact.html">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right hidden-sm">
          <div class="form-group">
            <i class="icon ion-android-search"></i>
            <input type="text" class="form-control" placeholder="Search friends, photos, videos">
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
<!--Header End-->

<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
      ================================================= -->
      <div class="col-md-3 static">
        <div class="profile-card">
          <img src="images/users/user-1.jpg" alt="user" class="profile-photo" />
          <h5><a href="timeline.html" class="text-white" th:text="${modelHome.username}" > </a></h5>
          <a href="#" class="text-white"><i class="ion ion-android-person-add" th:text="${ modelHome.followerCount}" ></i> </a>
        </div><!--profile card ends-->

        <!-- news people and my profile -->
        <ul class="nav-news-feed">
          <li><i class="icon ion-ios-paper"></i><div><a href="newsfeed.html">My Newasdasfeed</a></div></li>
          <li><i class="icon ion-ios-people"></i><div><a href="#newspeople">People Nearby</a></div></li>
-
        </ul><!--news-feed links ends-->

        <div id="chat-block">
          <div class="title">other peaople</div>
          <ul class="online-users list-inline" >
            <li th:each=" users : ${modelHome.userList}" ><a th:attr="onclick=|select('${users.username}')|" >
              <p th:text="${users.username}"></p>  </a>

              <img src="images/users/user-2.jpg" th:attr="onclick=|select('${users.username}')|" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>




          </ul>

        </div><!--chat block ends-->
      </div>
      <div class="col-md-7">

        <!-- Post Create Box
                  DİKKAT!!!
                  Eğer bir form içinde dosya gönderecek iseniz, form un multipart/form-data
                  şeklinde tanımlanması gereklidir.
                  -->
        <div class="create-post">
          <form action="http://localhost:9090/post/save" method="post" enctype="multipart/form-data">
            <div class="row">

              <div class="col-md-7 col-sm-7">
                <div class="form-group">
                  <img src="images/users/user-1.jpg" alt="" class="profile-photo-md" />
                  <textarea name="content" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                </div>
                <input type="file" name="image" id="file">
              </div>
              <div class="col-md-5 col-sm-5">
                <div class="tools">
                  <div class="row">
                    <ul class="publishing-tools list-inline">
                      <li><a href="#"><i class="ion-images"></i></a></li>
                    </ul>
                    <img style="margin-left: 15px;" src="images/users/user-1.jpg" width="50px" height="50px"/>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right">Publish</button>
                </div>
              </div>
            </div>
          </form>

        </div><!-- Post Create Box End -->

        <!-- Post Content
        ================================================= -->
        <div class="post-content" th:each=" post : ${modelHome.postlist}" >
          <img th:src="${post.getUrl()}" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail" >
              <div class="user-info">
                <!--/*@thymesVar id="userid" type=""*/-->
                <h5 th:text="${modelHome.username}"><a href="timeline.html" class="profile-link" ></a> 222222 <span class="following">following</span></h5>
                <p class="text-muted" th:text="${post.createdate}" ></p>
              </div>
              <div class="reaction">
                <a class="btn text-green" th:text="${post.likecount}"><i class="icon ion-thumbsup"></i></a>
                <a class="btn text-red" th:text="${post.dislikecount}"><i class="fa fa-thumbs-down"></i> </a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p th:text="${post.comment}"><i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
              </div>
              <div class="line-divider"></div>

              <div class="post-comment" th:each=" postcomment : ${modelHome.commentList}">
                <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm" />
                <p th:text="${postcomment.comment}"><a class="profile-link" th:text="${postcomment.userid}">  <!--Diana -->  </a><i class="em em-laughing"></i>  <!--s nostrud --> </p>
              </div>

            </div>
          </div>
        </div>
        
      </div>

      <!-- side bar static
      ================================================= -->
      <div class="col-md-2 static">
        <div class="suggestions" id="sticky-sidebar">
          static side bar
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">

        <div class="col-md-3 col-sm-3">
          <h5>Contact Us</h5>
          <ul class="contact">
            <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
            <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
            <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>

<!--preloader-->
<div id="spinner-wrapper">
  <div class="spinner"></div>
</div>





<!--Buy button-->
<a href="https://themeforest.net/cart/add_items?item_ids=18711273&ref=thunder-team" target="_blank" class="btn btn-buy"><span class="italy">Buy with:</span><img src="images/envato_logo.png" alt="" /><span class="price">Only $20!</span></a>






<div hidden="" >
  <form action="home/other" method="post" >
    <input type="text" name="username" id="otherusername" />
    <button  type="submit" id="otherbtn" href="home/other"></button >

  </form>
</div>

<!-- Scripts
================================================= -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky-kit.min.js"></script>
<script src="js/jquery.scrollbar.min.js"></script>
<script src="js/script.js"></script>

<script >

  function select(username) {
    const otherusername=document.getElementById('otherusername');

    alert('buton ici'+username);

    otherusername.value=username;
    const submitsavebutton=document.getElementById('otherbtn');
    submitsavebutton.click()

  }

</script>


</body>
</html>
Give feedback
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Social_Media_Application/home.html at main · MFurkanTurkmen/Social_Media_Application