@import url("https://fonts.googleapis.com/css?family=Sofia");
:root{
    --color5: #fff9f4;
    --color4: #78c059;
    --color3: #002254; /*header*/
    --color2: #EFEFEF; /* background*/
    --color1: #001634;
}

.dark-theme{
    --color1: rgb(66, 66, 66);
    --color2: rgba(42,39,40);
    --color3: rgba(32,31,30);
    --color4: #78c059;
    --color5: #d0d0d0;
}
#light_mode{
    color: var(--color4);
    cursor: pointer;
}
#dark_mode{
    color: var(--color4);
    cursor: pointer;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--color2);
    color: var(--color5);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-size: 12px;
}

main{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}

.header__logo{
    margin-left: 10px;
    height: 30px;
}
h1{
    font-size: 2em;
    margin: 0;
    color: var(--color2);
    -webkit-text-stroke:1px var(--color4);
    padding: 10px;
}


header{
    background-color: var(--color3);
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1:hover{
    cursor: pointer;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
header nav ul li img{
    height: 20px;
}
header nav ul span{
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color4);
}
.aboutus{
    font-size: 14px;
    cursor: pointer;
}

.main1{
    background-color:rgb(76,79,249);
    width: 100%;
    height: 350px;
    text-align: center;
    color: #fafafa;
    padding-top: 40px;
}
.main1 h2{
    font-size: 50px;
    margin: 30px;
}
.main1 p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.main2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.main2title{
    font-size: 30px;
}
/* .main2image img{
    width: 800px;
    height: 500px;
} */
.main2text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22%;
    margin-right: 22%;
    font-size: 25px;
}
.main2text p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.15px;
    color: rgba(128, 128, 128, 0.888);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.carts{
    background-color: rgb(176, 176, 255);
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.cart{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    border-style: solid;
    border-radius: 80px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.cartimage img{
    transition: width 0.8s, height 0.8s;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    height: 250px;
    border: 0px;
    border-radius: 50%;
}
.cartimage img:hover{

}
.carttitle{
    color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carttitle h2{
    color: var(--color1);
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;

}

.carttitle h3{
    color: var(--color1);
    font-size: 19px;
    margin-bottom: 10px;
    position: relative;

}
.carttext p{
    color: var(--color1);
    font-size: 18px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}
.carttext span{
    margin-left: 35px;
}

hr{
    border: 2px;
    border-style: solid;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}


/* social media icon ****** start */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #e7f2cc;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    margin-bottom: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(
            0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(
            0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(
            0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(
            -50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(
            0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px
    rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #0B65C2;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #1B72E8;
    color: #ffffff;
}
/* social media icon ****** end */