@import url("https://fonts.googleapis.com/css?family=Sofia");

:root{
    --color7: #312d2e;
    --color6: #f5f5f5;
    --color5: #85586F;
    --color4: #D0B8A8;
    --color3: #DFD3C3;
    --color2: #d3cfcc;
    --color1: #fff9f4;
}
.dark-theme{
    --color1: #f30505; /*yok */
    --color2: #232323; /*body tamami */
    --color3: rgba(185, 164, 142, 0.65); /*header */
    --color4: #646464; /*post arka plani */
    --color5: #ea0808; /*yok */
    --color6: #ff0000; /*yok */
    --color7: rgb(255, 252, 252); /*yazi rengi */
}
#lightmode{
    color: var(--color6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    background-color: var(--color2);
    color: var(--color7);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main{
    display: flex;
    gap: 40px;
}


.header__logo{
    margin-left: 20px;
    height: 40px;
}
h1{
    font-size: 2em;
    margin: 0;
    color: var(--color3);
    -webkit-text-stroke:2px  var(--color7);
    padding: 10px;
}


header{
    background-color: var(--color3);
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1:hover{
    cursor: pointer;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
header nav ul li img{
    height: 20px;
}
header nav ul li{
    height: 20px;
    margin-right: 30px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color7);
}


aside{

    display: flex;
    height: 470px;
    margin-top: 30px;
    /*margin-right: 100px;*/
    /*margin-bottom: 20px;*/
    margin-left: 60px;
    padding: 50px 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: static;
    gap: 25px;
    width: 17%;
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(152, 150, 150, 0.282),
    10px 10px 15px rgba(70, 70, 70, 0.15);
}

.hr{
    border: none;
    background-color: var(--color7);
    height: 3px;
    width: 75%;
}
.aside__home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 600;
    border-bottom-color: var(--color7) 3px solid;
}
.aside__home img{
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.aside__otherpeople{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: var(--color7) 3px solid;
}


.aside__otherpeople img{
    height: 30px;
    margin-right: 10px;
}
.aside__friendrequest{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: var(--color7) 3px solid;
}
.aside__friendrequest img{
    height: 30px;
    margin-right: 10px;
}
.aside__myposts{
    display: flex;
    align-items: center;
}
.aside__myposts img{
    height: 20px;
    margin-right: 10px;
}
.listspan{
    margin-right: 10px;

}
.aside__profile{
    display: flex;
    align-items: center;
    margin-right: 10px;

}

.aside__profile img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;

}

.logout{
    width: 90px;
    height: 40px;color: var(--color2);
    background-color: var(--color7);
    border-radius: 10px;
    border: none;
}

.logout:hover{
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.389),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}



#profilecart{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}


.containerrr {
    display: flex;
    font-family: "Sofia", sans-serif;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 430px;
    height: 160px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-shadow: -10px -10px 15px rgba(152, 150, 150, 0.282),
    10px 10px 15px rgba(70, 70, 70, 0.15);
}

.photo__text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo__text img {
    margin-left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
}

.textt{
    margin-left: 5px;
    overflow: hidden;
}
.textt h3{
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.textt h4{
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn {
    border: none;
    margin-top: 12px;
    padding: 11px 18px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}

.btn-pink {
    background: #b82151;
    color: white;
}
.btn-blue {
    background: rgb(0,149,246);
    color: white;
}
.btn-green {
    background: rgba(18, 140, 8, 0.78);
    color: #ffffff;
}
.btn-gray{
    background: rgba(206, 203, 203, 0.6);
    color: #000000;
}

.btn:hover{
    background-color: rgb(109, 83, 201);
    color: white;

}











