:root{
    --color7: #312d2e;
    --color6: #c7c7c7;
    --color5: #85586F;
    --color4: #D0B8A8;
    --color3: #DFD3C3;
    --color2: #a89481;
    --color1: #fff9f4;
}
.dark-theme{
    --color1: #f30505; /*yok */
    --color2: #F8EDE3; /*body tamami */
    --color3: rgba(185, 164, 142, 0.65); /*header */
    --color4: #646464; /*post arka plani */
    --color5: #ea0808; /*yok */
    --color6: #ff0000; /*yok */
    --color7: rgb(255, 252, 252); /*yazi rengi */
}
#lightmode{
    color: var(--color6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    background-color: var(--color2);
    color: var(--color7);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

main{
    display: flex;

}


.header__logo{
    margin-left: 20px;
    height: 40px;
}
h1{
    font-size: 2em;
    margin: 0;
    color: var(--color3);
    -webkit-text-stroke:2px  var(--color7);
    padding: 10px;
}


header{
    background-color: var(--color3);
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1:hover{
    cursor: pointer;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
header nav ul li img{
    height: 20px;
}
header nav ul li{
    height: 20px;
    margin-right: 30px;

}
header nav ul li a{
    text-decoration: none;
    color: var(--color7);
}


aside{
    display: flex;
    height: 450px;
    margin: 0px 50px 20px 0;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 22%;
    border-radius: 10px;
    box-shadow: -10px -10px 15px rgba(152, 150, 150, 0.282),
    10px 10px 15px rgba(70, 70, 70, 0.15);
}


.aside__home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: var(--color7) 3px solid;
    cursor: pointer;
}
.aside__home img{
    height: 30px;
    margin-right: 10px;

}
.aside__otherpeople{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: var(--color7) 3px solid;
    cursor: pointer;
}
.aside__otherpeople img{
    height: 30px;
    margin-right: 10px;

}
.aside__myposts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: var(--color7) 2px solid;
    border-inline: var(--color7);
    padding: 20px;
}
.aside__myposts_header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}
.aside__myposts_header img{
    height: 40px;
}
.aside__orderby{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside__orderby__inside{
    display: flex;
    align-items: center;
    border-bottom: var(--color7) 1px solid;

}
.aside__orderby__inside img{
    height: 20px;
    margin-right: 10px;
}

.aside__orderby__inside2{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 5px;

}
.aside__orderby__inside2 p{
    cursor: pointer;
}
.listspan{
    margin-right: 10px;
}

.aside__profile{
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.aside__profile img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;

}

.logout{
    width: 90px;
    height: 40px;color: var(--color2);
    background-color: var(--color7);
    border-radius: 10px;
    border: none;
}

.logout:hover{
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.389),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
}


.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    margin-right: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.profile__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*tweet box*/

.pawerbox{
    padding-bottom: 10px;
    padding-right: 25%;
    width: 75%;

}
.pawerbox__input img{
    border-radius: 50%;
    height: 40px;

}
.bottom-line{
    background-color: var(--color7);
    height: 2px;
    border: none;
}
.mypostavatar{
    border-radius: 50%;
    height: 40px;
    width: 150px;
    height: 150px;

}



.pawerbox form{
    display: flex;
    flex-direction: column;
}
.pawerbox__input{
    color: var(--color7);
    display: flex;
    padding: 20px;
    height: 100px;
    font-size: 20px;

}

.md-textarea{
    height: 100px;
    resize: none;
    padding: 20px;
    background-color: var(--color4);
    color: var(--color7);
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.md-textarea::placeholder{
    color: var(--color7);
    font-family: 'Poppins', sans-serif;

}
.pawbutton{
    background-color: var(--color7);
    border: none;
    color: var(--color2);
    font-weight: 900;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
}

/*post*/
.post__avatar img{
    border-radius: 50%;
    height: 40px;
}

.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--color7);
    padding-bottom: 10px;
    padding-top: 10px;
}

.post__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.post__badge{
    font-size: 14px !important;
    color: var(--color3);
    margin-right: 5px;
}

.post__headerSpecial{
    font-weight: 600;
    font-size: 16px;
    color: var(--color7);
}
.post__headerText h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.post__headerDescription{
    margin-bottom: 10px;
    font-size: 16px;
}
.post__body{
    padding: 20px;
}

.likecomment:hover{
    cursor: pointer;
}
.postsend{
    border-radius: 10px;
}
.post__timer{
    display: flex;
    flex-direction: row;
    font-size: 14px;

}
.post__date{
    margin-right: 5px;
}
.post__time{

}

/*commentwrite*/
commentwrite__input img{
    border-radius: 50%;
    height: 40px;
}

.commentwrite{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--color7);
    padding-right: 10px;

}

.commentwrite form{
    display: flex;
    flex-direction: column;
}
.commentwrite__input{
    color: var(--color7);
    display: flex;
    padding: 20px;
    height: 100px;
    font-size: 16px;

}

.commentwrite-textarea{
    height: 100px;
    resize: none;
    padding: 20px;
    background-color: var(--color2);
    color: var(--color7);
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.commentwrite-textarea::placeholder{
    color: var(--color7);
    font-family: 'Poppins', sans-serif;

}
.commentbutton{
    background-color: var(--color7);
    border: none;
    color: var(--color2);
    font-weight: 900;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
}

/*commentread*/
.commentread__avatar img{
    border-radius: 50%;
    height: 40px;
}

.commentread{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--color7);
    padding-bottom: 10px;
    padding-top: 10px;
}

.commentread__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.commentread__badge{
    font-size: 12px !important;
    color: var(--color2);
    margin-right: 5px;
}

.commentread__headerSpecial{
    font-weight: 600;
    font-size: 14px;
    color: var(--color7);
}
.commentread__headerText h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.commentread__headerDescription{
    margin-bottom: 10px;
    font-size: 14px;
}
.commentread__body{
    padding: 20px;
}

.commentread__timer{
    display: flex;
    flex-direction: row;
    font-size: 12px;

}
.commentread__date{
    margin-right: 5px;
}
.commentread__time{

}

.section__darklight{
    margin: 20px;
    cursor: pointer;
}

#lightmode{
    color: var(--color1);
}



.container{
    margin-top: 40px;
    position: relative;
}

.pagination-wrapper {
    font-size: 0;
    bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes pagination-container--animation-prev {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(18px);
    }
}

@keyframes pagination-container--animation-next {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .pagination-container {
    animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
    animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
    width: 6px;
    height: 6px;
    background: var(--color7);
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    position: relative;
    z-index: 10;
}

.little-dot--first,
.little-dot--last {
    z-index: 5;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .little-dot--first {
    animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-next .little-dot--first {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes little-dot--last--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-prev .little-dot--last {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(18px);
        opacity: 1;
    }
}

.transition-next .little-dot--last {
    animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #f6af54;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.transition-next .big-dot {
    right: auto;
    left: -6px;
}

.big-dot-container {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    z-index: 10;
}

.transition-next .big-dot-container {
    right: auto;
    left: 3px;
}

@keyframes big-dot-container--animation-prev {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-179deg);
    }
}

@keyframes big-dot-container--animation-next {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-181deg);
    }
}

.transition-prev .big-dot-container {
    animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
    animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color7);
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.6;
}

.btn--next {
    left: calc(100% + 20px);
}

.btn--prev {
    right: calc(100% + 20px);
}