@import url("https://fonts.googleapis.com/css?family=Sofia");
:root{
    --color5: #fff9f4;
    --color4: #78c059;
    --color3: #002254; /*header*/
    --color2: #EFEFEF; /* background*/
    --color1: #001634;
}

.dark-theme{
    --color1: rgb(66, 66, 66);
    --color2: rgba(42,39,40);
    --color3: rgba(32,31,30);
    --color4: #78c059;
    --color5: #d0d0d0;
}
#light_mode{
    color: var(--color4);
    cursor: pointer;
}
#dark_mode{
    color: var(--color4);
    cursor: pointer;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--color2);
    color: var(--color5);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-size: 12px;
}

main{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}

.header__logo{
    margin-left: 10px;
    height: 30px;
}
h1{
    font-size: 2em;
    margin: 0;
    color: var(--color2);
    -webkit-text-stroke:1px var(--color4);
    padding: 10px;
}


header{
    background-color: var(--color3);
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1:hover{
    cursor: pointer;
}
header nav{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
header nav ul li img{
    height: 20px;
}
header nav ul span{
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--color4);
}
.aboutus{
    font-size: 14px;
    cursor: pointer;
}

aside{
    display: flex;
    height: 450px;
    width: 250px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: var(--color1);
    background-color: var(--color5);
    margin-right: 50px;
    margin-top: 20px;
    border-top:5px solid var(--color3);
    box-shadow: -10px -10px 15px rgba(152, 150, 150, 0.282),
    10px 10px 15px rgba(70, 70, 70, 0.15);
}

.aside__active{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    border: var(--color1) 2px solid;
    border-inline: var(--color5);
    padding: 20px;
    cursor: pointer;

}
.aside__active img{
    height: 40px;
    width: 40px;
    margin-right: 10px;

}
.aside__deactive{
    cursor: pointer;
}
.aside__requestcount{
    display: flex;
    align-items: center;
    gap: 10px;
}
#friendrequestcount{
    text-align: center;
    border-radius: 40%;
    background-color: var(--color1);
    color: var(--color5);
    min-width: 20px;
}
h2{
    color: var(--color1);
}

.logout{
    width: 90px;
    height: 40px;
    color: var(--color5);
    background-color: var(--color3);
    border: none;
    cursor: pointer;
    font-weight: 600;
}


.logout:hover,
.logout:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--color3);
    transform: translateY(-0.25em);
    background-color: var(--color4);
}

.main__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 75%;
}

/*pawer box*/

.pawerbox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--color5);
    border-top:5px solid var(--color3);
    border-radius: 5px;
}
.pawerbox__input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 100px;
    font-size: 20px;
}

.pawerbox__input img{
    border-radius: 50%;
    height: 40px;
}

.mypostavatar{
    border-radius: 50%;
    height: 40px;
    width: 150px;
}

.md-textarea{
    height: 100px;
    resize: none;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    color: var(--color1);
    background-color: var(--color5);
    outline: none;
    border: none;
}

.md-textarea::placeholder{
    color: var(--color1);
    font-family: 'Poppins', sans-serif;

}
.pawbutton{
    background-color: var(--color3);
    border: none;
    color: var(--color5);
    font-weight: 600;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
}
.pawbutton:hover,
.pawbutton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--color3);
    transform: translateY(-0.25em);
    background-color: var(--color4);
}
/*post*/

.post__avatar img{
    border-radius: 50%;
    height: 40px;
}

.feed{
    margin: 0 auto;
    border-bottom: 1px solid var(--color5);
    color: var(--color1);
    align-items: center;
    width: 80%;
    border-radius: 5px;
}

.post__body{
    padding: 20px;
    background-color: var(--color5);
    color: var(--color1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.post__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}

.post__badge{
    color: var(--color1);
    margin-right: 5px;
}

.post__headerSpecial{
    font-weight: 600;
    color: var(--color1);
}
.post__headerText {
    display: flex;
    align-items: center;
}
#favicon{
    width: 24px;
    height: 24px;
    cursor: pointer;

}
.divforh3{
    width: 80%;
}
.post__headerText h3{
    margin-bottom: 5px;
    margin-left: 20px;
}
.post__headerDescription{
    margin-bottom: 10px;
    padding: 10px;

}

.likecomment:hover{
    cursor: pointer;
}
.postsend{
    border-radius: 10px;
}
.post__timer{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.post__date{
    margin-right: 5px;
}
.post__like{
    display: flex;
    gap: 2px;
}
.post__like_img{
    height: 20px;
    cursor: pointer;
}
.post__comment_img{
    height: 20px;
    cursor: pointer;
}

/*commentwrite*/
.commentwrite__input img{
    border-radius: 50%;
    height: 20px;
}

.commentwrite{
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color5);
    padding-right: 10px;
}

.commentwrite form{
    display: flex;
    flex-direction: column;
}
.commentwrite__input{
    color: var(--color1);
    display: flex;
    padding: 20px;
    height: 100px;

}
.commenttext_avatar p{
    flex-wrap: wrap;
    font-weight: bold;
    color: var(--color1);
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.commentwrite-textarea{
    height: 50px;
    resize: none;
    padding: 10px;
    background-color: var(--color5);
    color: var(--color1);
    flex: 1;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: -10px 10px 15px rgba(37, 43, 87, 0.39),
    10px 10px 15px rgba(70, 70, 70, 0.15);

}

.commentwrite-textarea::placeholder{
    color: var(--color1);
    font-family: 'Poppins', sans-serif;

}
.commentbutton{
    background-color: var(--color3);
    border: none;
    color: var(--color5);
    font-weight: 600;
    width: 80px;
    height: 30px;
    margin-left: 70%;
}

.commentbutton:hover,
.commentbutton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--color3);
    transform: translateY(-0.25em);
    background-color: var(--color4);
}
/*commentread*/
.commentread__header{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.commentread__avatar img{
    border-radius: 50%;
    height: 20px;
}

.commentread{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--color1);
    padding-bottom: 10px;
    padding-top: 10px;
}

.commentread__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.commentread__badge{
    color: var(--color1);
    margin-right: 5px;
}

.commentread__headerSpecial{
    font-weight: 600;
    color: var(--color5);
}
.commentread__headerText h3{
    margin-bottom: 5px;
}
.commentread__headerDescription{
    margin-bottom: 10px;
}


.commentread__timer{
    display: flex;
    flex-direction: row;

}
.commentread__date{
    margin-right: 5px;
}
.commentread__time{

}

.section__darklight{
    margin: 20px;
    cursor: pointer;
}

#lightmode{
    color: var(--color1);
}



.container{
    margin-top: 40px;
    position: relative;
}

.pagination-wrapper {
    font-size: 0;
    bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes pagination-container--animation-prev {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(18px);
    }
}

@keyframes pagination-container--animation-next {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .pagination-container {
    animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
    animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
    width: 6px;
    height: 6px;
    background: var(--color5);
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
    position: relative;
    z-index: 10;
}

.little-dot--first,
.little-dot--last {
    z-index: 5;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-18px);
    }
}

.transition-prev .little-dot--first {
    animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-next .little-dot--first {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes little-dot--last--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.transition-prev .little-dot--last {
    animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(18px);
        opacity: 1;
    }
}

.transition-next .little-dot--last {
    animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #f6af54;
    position: absolute;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.transition-next .big-dot {
    right: auto;
    left: -6px;
}

.big-dot-container {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    z-index: 10;
}

.transition-next .big-dot-container {
    right: auto;
    left: 3px;
}

@keyframes big-dot-container--animation-prev {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-179deg);
    }
}

@keyframes big-dot-container--animation-next {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-50%) rotate(-181deg);
    }
}

.transition-prev .big-dot-container {
    animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
    animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color5);
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.6;
}

.btn--next {
    left: calc(100% + 20px);
}

.btn--prev {
    right: calc(100% + 20px);
}

/*profil cart baslangici eski ****************

.profilecartcontainer{
    font-family: "Sofia", sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 20px;
    width: fit-content;
    max-width: 240px;
    min-width: 200px;
}


.profilecartphoto img{
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 200px;
}

.profilecartalltext .profilecarttitle {

    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 6px;
    color: black;
}
.profilecartalltext .profilecarttext{
    text-align: center;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
}
*/


#profilecart{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    color: var(--color1);
}


.containerrr {
    display: flex;
    font-family: "Sofia", sans-serif;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 430px;
    height: 160px;
    margin-right: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-shadow: -10px -10px 15px rgba(152, 150, 150, 0.282),
    10px 10px 15px rgba(70, 70, 70, 0.15);
}

.photo__text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo__text img {
    margin-left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
}

.textt{
    display: flex;
    margin-left: 5px;
    overflow: hidden;
}
.textt h3{
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.textt h4{
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn {
    border: none;
    margin-top: 12px;
    padding: 11px 18px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}

.btn-pink {
    background: #b82151;
    color: white;
}
.btn-blue {
    background: rgb(0,149,246);
    color: white;
}
.btn-green {
    background: rgba(18, 140, 8, 0.78);
    color: #ffffff;
}
.btn-gray{
    background: rgba(206, 203, 203, 0.6);
    color: #000000;
}

.btn:hover{
    background-color: rgb(109, 83, 201);
    color: white;

}

